@import "../../common/variables.scss";
@import "../../common/classes.scss";

.garage {
    @extend .flex_center;

    width: 80%;
    min-height: 50px;
    max-height: auto;
    flex-direction: column;
    margin: 0px auto;
    position: relative;

    @media screen and (max-width:  $medium) {
        width: 95%;
    }
}