// colors 
$grey_main: #E4E6E9;
$red_main: #d83636;
$blue_main: #34a3d7;
$blue_light: #8ed1ee;
$black_main: #040101;
$orange_main: #be4222;

// sizes
$header_height: 125px;
$logo_width: 200px;

// breakpoints
$medium: 800px;