@import "../../../common/variables.scss";

.winners_table_cont {
    width: 100%;
    height: auto;

    &__sort_icon {
        position: absolute;
        right: 0px;
        cursor: pointer;
    }

    &__table {
        width: 100%;
        height: auto;
        border-collapse: collapse;

        &__row {
            &_1 {
                background-color: rgba($blue_light, 0.85);
            }

            &_2 {
                background-color: rgba($red_main, 0.85);
            }

            &_3 {
                background-color: rgba($grey_main, 0.85);
            }
        }

        &__car_icon {
            width: 50px;
            margin: 0 auto;
        }

        &__trophy {
            position: absolute;
            left: 15px;

            &_1 {
                @extend .winners_table_cont__table__trophy;
                color: gold;
            }

            &_2 {
                @extend .winners_table_cont__table__trophy;
                color: silver;
            }

            &_3 {
                @extend .winners_table_cont__table__trophy;
                color: brown;
            }
        }

        th {
            font-size: 22px;
            padding: 10px;
            color: $grey_main;
            position: relative;
        }

        td {
            height: 35px;
            text-align: center;
            color: $black_main;
        }
    }
}