@import "../../../common/variables.scss";
@import "../../../common/classes.scss";

.wheel {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: $grey_main;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: (15deg);
    border: 1px solid $black_main;
    bottom: -15px;

    &::after {
        content: "";
        width: 3px;
        z-index: 2;
        height: 3px;
        display: block;
        background-color: $grey_main;
        border-radius: 50%;
    }

    &__forward {
        @extend .wheel;

        right: 10px;
    }

    &__backward {
        @extend .wheel;

        left: 10px;
    }

    &__rect {
        width: 0.5px;
        height: 100%;
        background-color: $black_main;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 50%;
            background-color: $blue_main;
        }
    }
}
