// @import "../../../../../../../common/classes.scss";

.car {
    display: flex;
    align-items: center;
    width: 115px;
    height: 50px;
    position: relative;
    border: 1px solid green;
    z-index: 1;

    &__lights {
        width: 40px;
        height: 100%;
        position: relative;
        border: 1px solid green;
        transition: 0.5s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            width: 40px;
            /* Adjust light spread size */
            height: 20px;
            /* Adjust light spread size */
            border-radius: 50%;
            background-color: rgba(247, 250, 198, 0.986);
            /* White with low opacity */
            opacity: 0.3;
            left: 20px;    
        }
    
        &::before {
            top: 20px;
            /* Adjust headlight position (top) */
        }
    
        &::after {
            top: 30px;
            /* Adjust headlight position (top) */
        }
    
    }
}