@import "../../common/variables.scss";
@import "../../common/classes.scss";


.winner {
    @extend .flex_center;

    width: 80%;
    min-width: 400px;
    height: 500px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px auto;
}