@import "../../common/variables.scss";

.winners_table_cont {
    width: 100%;
    height: 90%;

    &__table {
        width: 100%;
        height: auto;
        opacity: 0.85;
        border-collapse: collapse;

        &__row {
            &_1 {
                background-color: $blue_light;
            }
    
            &_2 {
                background-color: $red_main;
            }
    
            &_3 {
                background-color: $grey_main;
            }
        }

        &__trophy {
           position: absolute;
           left: 15px;

            &_1 {
                @extend .winners_table_cont__table__trophy;
                color: gold;
            }

            &_2 {
                @extend .winners_table_cont__table__trophy;
                color: silver;
            }

            &_3 {
                @extend .winners_table_cont__table__trophy;
                color: brown;
            }
        }

        th {
            font-size: 22px;
            padding: 10px;
            color: $grey_main;
        }

        td {
            height: 35px;
            text-align: center;
            color: $black_main;
        }
    }
}