@import "../../../../../common/variables.scss";
@import "../../../../../common/classes.scss";

.garage_item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 5px;
    position: relative;
    background-color: rgba($black_main, 0.9);
    overflow: hidden;

    &__highway {
       @extend .flex_center;

        justify-content: flex-start;
        position: relative;
        width: calc(100% - 150px);
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 80%;
            left: 115px;
            top: 10%;
            background-color: white;
        }

        &::after {
            @extend .garage_item__highway, ::before;

            left: unset;
            right: 115px;
        }
    }

    &__stripes {
        height: 5%;
        width: 100%;
        opacity: 0.75;
        position: absolute;
        top: 97.5%;
        background: repeating-linear-gradient(to right,
                white 2vw,
                transparent 3vw,
            );
    }

    &__drive_buttons {
        width: 30px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0px 5px;

        &__button {
            font-size: 18px;
            cursor: pointer;
        }

        &_start {
            @extend .garage_item__drive_buttons__button;
            color: $blue_main;
        }

        &_cancel {
            @extend .garage_item__drive_buttons__button;
            color: $orange_main;
        }
    }

    &__actions_cont {
        @extend .flex_evenly;

        width: 120px;
        height: 100%;
    }

    &__name {
        margin-left: 5px;
        opacity: 0.8;
        font-size: 20px;
        color: white;
    }
}